<h1>About this page:</h1>

<p>this site contains pokemons from online API<br>
and some of the fake pokemons created by faker<br>
<br>
the main part of data is comming from:"<br>
https://pokeapi.co/api/v2/pokemon?limit=100000&offset=0<br>
"<br>

this API contains pokemon information like:"<br>
{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"}<br>
"<br>
it has the name of the pokemon and a link to another API<br>
in that link API is all the detailed information of that pokemon<br>
    <br>
this site takes the <br>
pokemon name from first API<br>
type (might be two)<br>
Stats (total six)<br>
and image url from second API<br>
<br>
to put into database<br>
database has two tables<br>
one for pokemon (id[pk], name, type1[fk], type2[fk], hp, atk, def, sa, sd, sp, img)<br>
one for type (id[pk], name)<br>
</p>