<div class="container align-items-center">
  <div class="row">
    <div class="col">
      <h1>About this page:</h1>

      <p class="align-items-center">
        This site contains pokemons from an online API and some of the fake pokemons created by Faker.
        <br>
        The main part of data is coming from:
        <br>
        <a href="https://pokeapi.co/api/v2/pokemon?limit=100000&offset=0">https://pokeapi.co/api/v2/pokemon?limit=100000&offset=0</a>
        <br>
        This API contains pokemon information like:
        <br>
        {"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"}
        <br>
        It has the name of the pokemon and a link to another API.
        In that link, the API provides all the detailed information of that pokemon.
        <br>
        This site takes the pokemon name from the first API,
        type (might be two), stats (total six), and image URL from the second API.
        <br>
        To put into the database, there are two tables:
        <br>
        One for pokemon (id[pk], name, type1[fk], type2[fk], hp, atk, def, sa, sd, sp, img),
        <br>
        One for type (id[pk], name).
      </p>
    </div>
  </div>
</div>
